.main-playbar-container {
  position: fixed;
  top: 90vh;
  height: 10vh;
  max-height: 10vh;
  width: 98vw;
  background-color: var(--main-modal-background-transparent);
  justify-content: center;
  padding-top: 1vh;
}

.playbar-track-info-container {
  padding-left: 3rem;
  max-height: 10vh;
}

.playbar-image {
  align-items: center;
  max-height: 8vh;
}

.playbar-info {
  height: 8vh;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.playbar-buttons-container {
  justify-content: center;
  max-height: 5vh;
}

.playbar-wave-container {
  align-items: center;
  justify-content: center;
  max-height: 5vh;
}

.playbar-wave {
  width: 100%;
}

.playbar-title {
  overflow: hidden;
  font-size: 1.5rem;
  white-space: nowrap;
}

.playbar-author {
  font-size: 1rem;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes move {
  0%,
  25% {
    transform: translateX(0%);
    left: 0%;
  }
  75%,
  100% {
    transform: translateX(-100%);
    left: 100%;
  }
}

.playbar-volume-container {
  height: 8vh;
  align-items: center;
}

.playbar-volume-container > div > input[type="range"] {
  width: 100%;
  -webkit-appearance: none;
  background-color: white;
  border-radius: 10px;
  height: 12px;
}

.playbar-timer {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playbar-cast-container {
  position: fixed;
  bottom: 0px;
  right: 0;
  height: 10vh;
  width: 3rem;
  background-color: var(--purple);
  border-top: 1px solid var(--yellow);
  margin: 0px;
  justify-content: center;
  align-items: center;
}

.cast-block,
.cast-block > svg {
  display: block;
  width: 100%;
  height: 100%;
}

@media (max-width: 425px) {
  .main-playbar-container,
  .playbar-cast-container {
    position: fixed;
    top: 80vh;
    left: 0;
    right: 0;
    width: auto;
  }

  .playbar-track-info-container {
    padding-left: 0rem;
  }

  .playbar-title > *,
  .playbar-author > * {
    padding: 0;
    animation: 5s linear 0s infinite alternate move;
  }

  .playbar-title > *.min,
  .playbar-author > *.min {
    min-width: 100%;
  }
}

@media (max-width: 800px) {
  .playbar-buttons-container {
    min-height: 8vh !important;
  }

  .playbar-buttons-container > div > div > svg {
    font-size: 3rem;
  }

  .playbar-fav-button {
    min-height: 8vh !important;
  }

  .playbar-fav-button > div > svg {
    font-size: 3rem;
  }

  .playbar-image {
    max-height: 7vh;
  }

  .playbar-info {
    max-height: 7vh;
  }

  .playbar-title {
    font-size: 1rem;
  }

  .playbar-author {
    font-size: 0.8rem;
  }
}

@-webkit-keyframes ellipsis-movement {
  from {
    left: 0;
    text-overflow: ellipsis clip;
    overflow: hidden;
    white-space: nowrap;
  }

  to {
    right: 0;
    text-overflow: clip ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

@keyframes ellipsis-movement {
  from {
    left: 0;
    text-overflow: ellipsis clip;
    overflow: hidden;
    white-space: nowrap;
  }

  to {
    right: 0;
    text-overflow: clip ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.playbar-isloading {
  display: flex;
  justify-content: center;
}
