/* .update-modal {
  position: absolute;

  left: 25%;

  height: 100vh;
} */
.existing-image {
  max-width: 200px;
}
.track-update {
  background-color: var(--main-modal-background);
  padding: 2% 5% 2%;
  position: absolute;
  z-index: 10;
  left: 45%;
  max-width: 600px;
  width: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
}
.titleUpdate {
  color: rgb(32, 91, 143);
  margin-bottom: 50px;
}
